<div class="container my-5">
    <h1 class="mb-5">TableFilterService Demo</h1>
    
    <p-table
        #table
        [value]="(value$ | async)!"
        [globalFilterFields]="[
            'country',
            'city',
            'postal_code',
            'recalling_firm',
            'classification',
            'status'
        ]"
        [paginator]="true"
        paginatorPosition="both"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20, 50]">

        <!-- Search -->
        <ng-template pTemplate="caption">
            <app-search-input
                [filterService]="filterService"
                [data]="table">
            </app-search-input>
        </ng-template>
    
        <ng-template pTemplate="header">
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Postal code</th>
                <th>Recalling Firm</th>
                <th pSortableColumn="classification">
                    Classification
                    <p-sortIcon name="classification"></p-sortIcon>
                </th>
                <th>Status</th>
            </tr>
        </ng-template>
    
        <!-- Row -->
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.country }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.postal_code }}</td>
                <td>{{ item.recalling_firm }}</td>
                <td>{{ item.classification }}</td>
                <td>{{ item.status }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
